<!DOCTYPE html>
<html>
	<head>
	  <title>Haven Radio</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<!-- <img class="bg" src="http://eskipaper.com/images/hd-guitar-wallpapers-5.jpg"> -->
		<img class="bg" src="http://dcervin.com/i/2017/02/music-wallpapers-high-quality-resolution.jpg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<%= render 'shared/nav' %>
					<%= flash_messages %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7">
					<%= yield %>
				</div>
				<div class="col-md-5">
					<%= render 'shared/favorites_carousel' %>
				</div>
			</div>
		</div>
	</body>
</html>